.App {
  background-color: #f0f0f0;
}

.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.BotonesContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  gap: 10px; 
}

.Botones {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #1e90ff;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.Botones:hover {
  background-color: #0d74d1;
}

.h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Informacion {
  height: 705px;
  display: flex;
  gap: 20px;
  padding: 20px;
}

.left {
  flex: 1;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Categorias,
.Horas {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 2%;
  width: 48%;
}


.Prediccion {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.TituloProContainer {
  display: flex;
  justify-content: center;  /* Centra horizontalmente */
  align-items: center; 
}

.TituloPro {
  text-align: center;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  gap: 10px;
  width:300px ;
}

.select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%;
}

.h2 {
  margin: 0;
  font-size: 1.2em;
}

.Cosas {
  display: flex;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}